body{
    background-color: #df3f3fed;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}
div#container {
    width: 80%;
    margin: auto;
    border: 1px solid;
    margin-top: 3rem;
    background: black;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}
.suppic {
    width: 20%;
    margin: auto;
}
img{
    width: 100%;
}